@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aplicación : Librería</h1>
    <p>Operaciones CRUD sobre entidad Autor utilizando Entity Framework Core 7</p>
</div>
